body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* HomePage Specific Styling */
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white; /* Set the title text color to white */
}

.auth-buttons {
  display: flex;
  justify-content: center;
}

.auth-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #dc143c; /* Change button background color to #dc143c */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #a50026; /* Darken button color on hover */
}
